*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
}

.flag{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    display: grid;
    margin: auto;
    /* grid-template-rows: repeat(2 3fr); */
    row-gap: 30px;
    position: relative;
    
}

.flag> div{
    background-color: #0349A3;
}

#eng{
    position: absolute;
    width: 150px;
    height: 166px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 35px;
    row-gap: 35px;
    background-color: white;
    top: 0px;
    left:0px

}

#eng> div{
    background: #0349A3;
}



