@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  margin-top: 20px;
  > ul {
    width: 750px;
    background-color: dodgerblue;
    display: flex;
    margin: auto;
    position: relative;
    li {
      list-style: none;
      width: 100%;
      a {
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        line-height: 50px;
        font-family: "Open Sans";
      }
      .mega {
        width: 750px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 20px 20px;
        background: dodgerblue;
        ul {
          li {
            &:nth-child(1) {
              font-weight: bold;
            }
            a {
              line-height: 22px;
              text-align: left;
              font-size: 14px;
            }
          }
        }
      }
      &:hover {
        .mega {
          display: grid;
        }
      }
    }
  }
}
