*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.main{
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: 1px solid black;
    margin: auto;
    /* position: relative; */  
}

.length {
    width: 600px;
    height: 110px;
    background-color: #000099;
    position: absolute;
    /* padding: 50px; */
    bottom: 430px;
}
    
                


.height {
    position: absolute;
    width: 110px;
    height: 400px;
    background-color:#000099;
    right: 1000px;
    }
   
    

