*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
@media only screen and (min-width:992px){
    .main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:20px;
        padding: 20px;
        
   }
   .main>div{
    border: 1px  solid black; 
    padding: 20px;
    background-color: cornflowerblue;   
    color: white; 
 }
}
    
@media only screen and (min-width:688px) and (max-width:992px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:12px;
        padding: 12px;
        
   }
   .main>div{
    border: 1px  solid black; 
    padding: 12px;
    background-color: orangered;
        color: white;
 }
}
   
@media only screen and (max-width:688px){
    .main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:8px;
        padding: 8px;
   }
   .main>div{
    border: 1px  solid black; 
    padding: 8px;
    background-color: teal;
    color: white;
 }
}
  


