@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Shizuru&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container{
    width: 100%;
    height: 100vh;
    
    
    

}


 h1{
    padding: 30px;
    text-align: center;
    margin: 20px;
    font-family:'Shizuru', cursive;

}

.box{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    

}

.member{
    width: 400px;
    border: 3px solid black;
    display: grid;
    margin: 20px;
    background: rgb(173, 178, 184);
    border-radius: 5px;

    
}



img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: -20%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    

    

}

h4{
    text-align: center;
    margin: 10px;
    font-family: cursive;
    font-weight: bold;
}

p {
    text-align: center;
    line-height: 20px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

button{
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40%;
    background: rgb(252, 252, 252);
    font-weight: bold;
}

button:hover{
    background-color: rgb(202, 216, 146);
    
    cursor: pointer;
}

a{
    text-align: center;
    
}


@media screen and (min-width:1280px){
    .box{
        width: 100%;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        
    
    
    }
    
}

@media screen and (min-width: 834px){
    .box{
        width: 100%;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        
    
    
    }
    
    
}

@media screen and (min-width: 660px){
    .box{
        width: 100%;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        
    
    
    }
    
    
}
@media screen and (min-width: 360px){
    .box{
        width: 100%;
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        
    
    
    }
    
    
}


