* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  /* animation-name: myAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  animation: myAnimation 2s infinite linear;
}

@keyframes myAnimation {
  0% {
    margin-left: 0px;
    margin-top: 0px;
    background: cornflowerblue;
    width: 200px;
    height: 200px;
  }
  50% {
    margin-left: 200px;
    margin-top: 200px;
    background: darkorange;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: rotate(360deg);
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
    background: cornflowerblue;
    width: 200px;
    height: 200px;
  }
}

.batti {
  width: 20px;
  height: 20px;
  background: red;
  animation: BattiJole 1s infinite linear;
  position: fixed;
  top: 220px;
  left: 20px;
  border-radius: 50%;
}

@keyframes BattiJole {
  0% {
    box-shadow: 0 0 2px orangered;
  }
  50% {
    box-shadow: 0 0 10px orangered;
  }
  100% {
    box-shadow: 0 0 2px orangered;
  }
}

.textGhurabona {
  width: 300px;
  height: 300px;
  border: 8px double dodgerblue;
  position: fixed;
  top: 180px;
  right: 180px;
  animation: tg 2s infinite linear;
  > .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 72px;
    animation: text 2s infinite linear;
  }
}

@keyframes tg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
