
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url(./png-clipart-black-arrow-art-black-and-white-line-triangle-mouse-cursor-miscellaneous-angle.png), auto;
}

.main {
    width: 100%;
    height: 100px;
    margin: auto;
    background: rgb(243, 240, 240);
    display: flex;  
}


.facebook {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    background: rgb(18, 18, 252);
}
.google {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    font-family: 'League Gothic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 30px;
    padding: 5px;
    background: rgb(212, 2, 2);
}
.linkedn {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    background: gray;
}
.twitter {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    background: cornflowerblue;
}
.instagram {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    background: lightcoral;
}
.youtube {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
    padding: 5px;
    background: red;
}

.main div {
    box-shadow: 0 0 10px black, 0 0 10px black inset;
    cursor: pointer;
}